# ─── Segurança ─────────────────────────────────────────────────────────────
SECRET_KEY=sua_chave_super_secreta_aqui

# ─── Flask ──────────────────────────────────────────────────────────────────
FLASK_DEBUG=false
PORT=6000
FRONTEND_URL=http://localhost

# ─── Banco de dados ─────────────────────────────────────────────────────────
DB_HOST=db
DB_PORT=5432
DB_NAME=bbdw
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
