# ─── Segurança ─────────────────────────────────────────────────────────────
SECRET_KEY=sua_chave_secreta_aqui

# ─── Flask ──────────────────────────────────────────────────────────────────
FLASK_DEBUG=true
PORT=6000
FRONTEND_URL=http://localhost:5173

# ─── Banco de dados ─────────────────────────────────────────────────────────
DB_HOST=localhost
DB_PORT=5433
DB_NAME=bbdw
DB_USER=postgres
DB_PASSWORD=admin123
